html{
    min-height: 100%;
    position: relative;
}
body{
    background-size: 100%;
    background-attachment: fixed;
    position: relative;
    margin: 0;
}  
/* .navegacion:hover{
    outline: none;
    color: #f10018 !important;
} */
/* .navegacion{
    text-decoration: none;
}
.navegacion:link {
    outline: none;
    color: #265301;
  }
  .navegacion:hover {
    color: orange;
    background: #161616;
  } */
.navegacion {
    font-size: 20px;
    outline: none;
    text-decoration: none;
    /* padding: 2px 1px 0; */
    /* width: 100px; */
    padding: 10px;
    margin-right: 0.625%;
    text-align: center;
    /* line-height: 3; */
    /* height: 80px; */
    
}
.navegacion:link {
    color: #fcf087;
}
.navegacion:visited {
    color: #f8f1acc4;
}
.navegacion:focus {
    color: #ffec44;
    background: #353535;
}
.navegacion:hover {
    background-color: #ffec44;
    color: #f7cb3e !important;
    background: #181818;
    border-radius: 5px;
}
.navegacion:active {
    background: #4e4e4efd;
    color: #a56b34;
}

.link {
    font-size: 16px;
    outline: none;
    text-decoration: none;
    padding: 4px;
    /* text-align: center; */
}
.link:link {
    color: #fcf087;
}
.link:visited {
    color: #fcf087;
}
.link:focus {
    color: #ffec44;
    background: #353535;
}
.link:hover {
    background-color: #ffec44;
    color: #f7cb3e !important;
    background: #181818;
    border-radius: 5px;
}
.link:active {
    background: #f7f463fd;
    color: #fcff41;
}


.link-tarjeta {
    font-size: 16px;
    outline: none;
    text-decoration: none;
    padding: 4px;
    border-radius: 20px;
    /* text-align: center; */
}
.link-tarjeta:link {
    color: #fcf087;
}
.link-tarjeta:visited {
    color: #fcf087;
}
.link-tarjeta:focus {
    color: #ffec44;
    background: #353535;
}
.link-tarjeta:hover {
    background-color: #ffec44;
    color: #f7cb3e !important;
    background: #f7cb3e;
    border-radius: 5px;
}
.link-tarjeta:active {
    background: #505050fd;
    color: #fcff41;
}
/* paleta de colores claro distribuidor
rojo: #D02B1F
negro: 010101 
*/

.distribuidor_red{
    background-color:#D02B1F;
    background-size: 100%;
    background-attachment: fixed;
    position: relative;
    height: 40px;
} 

.distribuidor_black{
    background-color:#010101;
    background-size: 100%;
    background-attachment: fixed;
    position: relative;
    height: 40px;
} 

.head_entity{
    /* background-color:#000000; */
    background-size: 100%;
    position: relative;
    min-height: 100px;
    max-height: 400px;
    padding: 20px;
}

.content-autorized{
    margin-left: 80px;
}

.content_space{
   padding: 10px; 
}

.logo{
    max-height: 50px;
    margin-left: 60px;
}

.logo-footer{
    max-height: 60px; 
}

.logo_distribuidor{
    width: 215px;
    height: 40px;
}

.content-page{
    /* padding: 20px; */
    background-color: white;
    width: 100%;
}
.banner{
    text-align: center;
    align-items: center;
    min-height: 400px;
}
.banner img{
    max-height: 400px;
    min-height: auto;
}

.targets{
    padding: 20px;
}

footer{
    position: relative;
    bottom: 0;
    width: 100%;
    color: white;
    padding-left: 50px;
}

.foot-end{
    padding: 20px;
    background: #010101;
}

.centrado{
    text-align: center;
    align-items: center;
}

.color{
    background:cadetblue;
}

#banner {
	margin-top: 0px;
	position: relative;
}

#banner img {
	width: 100%;
	height: 100%;
}

#banner .contenedor {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	color: #fff;
}

#banner h2 {
	font-size: 28px;
}

#banner a {
	display: block;
	width: 100px;
	color: #fff;
	text-decoration: none;
	padding: 7px;
	margin-top: 10px;
	border: 3px solid #fff;
}

#banner a:hover {
	background: rgba(51,51,51,0.5);
}

@media (min-width: 480px) {
	#banner h2 {
		font-size: 40px;
	}
	#banner a {
		margin-top: 25px;
	}
}

@media (min-width: 768px) {
	#banner {
		height: 400px;
		overflow: hidden;
	}
	#banner img {
		height: auto;
		margin-top: -20px;
	}
}

@media (min-width: 1024px) {
	#banner img {
		margin-top: -35px;
	}
}

.tarjeta-btn{
    max-width: 280px;
    max-height: 350px;
    border-radius: 25px;
}

.color-header{
    background: rgb(51,51,51,0.9);
}

.formulario{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 50px;
    padding-right: 80px;
    width: 100%; 
    background-image: url('../img/formularios/form_hogar2.png');
    margin-bottom: 30px;
    image-resolution: 1920px;
    /* background-color: rgb(255, 241, 110);  */
}
.formulario_movil{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 50px;
    padding-right: 80px;
    width: 100%; 
    background-image: url('../img/formularios/form_movil.png');
    margin-bottom: 30px;
   
}

.portada {
    width: 100%;
	margin-top: 0px;
	position: relative;
}

.content-buttons{
    padding: 15px;
    background-color: #fce787;
    /* background: rgb(51,51,51,0.9); */
}
.content-buttons-card{
    /* background-color: #ffdf4ef5; */
}

.cards-planes{
    padding: 15px;
}

.color_red{
    color: #fff;
    background-color: #f10018;
    border-color: #f10018;
    box-shadow: none;
}

.img-into-card{
    padding: 0px;
    max-height: 50px;
}

.content-burbuja{
    padding: 20px;
    background-color: #fffffff5;
}

.burbuja{
    border-radius: 50%;
    width: 80px;
}

.whatsapp {
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    z-index:100;
}

.publicidad{
    max-height: 300px;
}
  
.sin-borde{
    border: none;
}
.contenido{
    padding: 20px;
}